@model DziennikTreningowy.Models.Kategoria

@{
    ViewData["Title"] = "Detale";
}

<h1>Detale</h1>

<div>
    <h4>Kategoria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazwaKategorii)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazwaKategorii)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.KategoriaID">Edytuj</a> |
    <a asp-action="Index">Powrót</a>
</div>
