@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie zmienienia hasła";
}

<h1>@ViewData["Title"]</h1>
<p>
    Twoje hasło zostało zmienione. Kliknij <a asp-page="./Login">tutaj, aby zalogować.</a>.
</p>
